.openerp .zstripe > img {
height: 160px;
width: 640px;
}

.openerp .zstripel > img {
height: 160px;
width: 100%;
}

.openerp .zlandscape > img {
height: 180px;
width: 320px;
}

.openerp .zsquare > img {
height: 180px;
width: 180px;
}

.zstripel .img-fluid {
    max-width: 100%;
    width: 70%;
    height: auto;
}
